<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>mediafeed</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
  	<string>We need your permission for photo library</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need your permission to save images to your photo library</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>BarlowSemiCondensed-Black.ttf</string>
		<string>BarlowSemiCondensed-BlackItalic.ttf</string>
		<string>BarlowSemiCondensed-Bold.ttf</string>
		<string>BarlowSemiCondensed-BoldItalic.ttf</string>
		<string>BarlowSemiCondensed-ExtraBold.ttf</string>
		<string>BarlowSemiCondensed-ExtraBoldItalic.ttf</string>
		<string>BarlowSemiCondensed-ExtraLight.ttf</string>
		<string>BarlowSemiCondensed-ExtraLightItalic.ttf</string>
		<string>BarlowSemiCondensed-Italic.ttf</string>
		<string>BarlowSemiCondensed-Light.ttf</string>
		<string>BarlowSemiCondensed-LightItalic.ttf</string>
		<string>BarlowSemiCondensed-Medium.ttf</string>
		<string>BarlowSemiCondensed-MediumItalic.ttf</string>
		<string>BarlowSemiCondensed-Regular.ttf</string>
		<string>BarlowSemiCondensed-SemiBold.ttf</string>
		<string>BarlowSemiCondensed-SemiBoldItalic.ttf</string>
		<string>BarlowSemiCondensed-Thin.ttf</string>
		<string>BarlowSemiCondensed-ThinItalic.ttf</string>
		<string>DancingScript-Bold.ttf</string>
		<string>DancingScript-Medium.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>DancingScript-SemiBold.ttf</string>
		<string>GreyQo-Regular.ttf</string>
	</array>
</dict>
</plist>
